body{
  margin: 0;
  text-align: center;
}
.top{
  background-color: #000000;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.name-and-intro{
  position: relative;
  margin: auto;
}
.multicolor{
  background-image: linear-gradient(to left, #950101, #FF0000);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  font-family: 'Press Start 2P', cursive;
  font-size: 11.5vh;
  position: relative;
  margin: auto;

}
.intro-text{
  background-image: linear-gradient(to left, #950101, #FF0000);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  display: inline-block;
  color: transparent;
  font-family: 'Press Start 2P', cursive;
  font-size: 3vh;
}
.mid{
  background-color: #000000;
  height: 100vh;
}
.giffy-image{
  display: flex;
  justify-content: flex-start;
  height: 14.044943820224718vh;
  width: 18.258426966292134vh;
  border-radius: 50%;
}
.image-image{
  display: flex;
  justify-content: space-around;
  height: 14.044943820224718vh;
  width: 18.258426966292134vh;
  border-radius: 50%;
  background-color: #e57b5e;
}
.giffy-image-head{
  position:absolute;
  right: 0;
}
.image-image-head{
  position: absolute;
  left: 0;
}
.image-image-head-1{
  position: relative;
  top: 16.853932584269664vh;
}
.image-image-head-2{
  position: relative;
  top: 25.280898876404493vh;
}
.image-image-head-3{
  position: relative;
  top: 33.70786516853933vh;
}
.skills{
  position:relative;
  display: flex;
  justify-content: flex-end;
  left: 88vw;
  top: 10vh;
}
table{
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 1.5vh;
}
.things{
  font-family: 'Press Start 2P', cursive;
  color: white;
  position: relative;
  top: 40vh;
}
.last{
  background-color: #180A0A;
  color: white;
  font-family: 'Press Start 2P', cursive;
  padding-bottom: 10vh;
  position: relative;
  top: 60%;
}
a{
  color: white;
  padding-right: 10vw;
}
a:hover{
  color: #B20600;
}
