body{
  margin: 0;
  text-align: center;
  background-color: #000000;
}
.top{
  height: 100vh;
  display: flex;
  justify-content: center;
}
.name-and-intro{
  position: relative;
  margin: auto;
}
.multicolor{
  background-image: linear-gradient(to left, #950101, #2A3492);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  font-family: 'Press Start 2P', cursive;
  font-size: 5.1390625rem;
  position: relative;
  margin: auto;

}
.intro-text{
  background-image: linear-gradient(to left, #950101, #2A3492);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  display: inline-block;
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
}
.mid{
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  height: 100vh;
  display: block;
}
.giffy-image{
  height: 16.901408450704224vh;
  width: 22.535211267605632vh;
  border-radius: 50%;

}
.image-image{
  height: 16.901408450704224vh;
  width: 22.535211267605632vh;
  border-radius: 50%;
  background-color: #e57b5e;

}

.skills{
  direction: ltr;
}
.giffy{
  display: inherit;
  position: relative;
  height: max-content;

}
.things{
  display: inherit;
  width: 100%;
}
.last{
  bottom: 1vh;
  text-align: center;
  margin: auto;
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  text-decoration: none;
}
.data{
  background-image: linear-gradient(to left, #2A3492, #EF4423);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}
.skills{
  background-image: linear-gradient(to left, #2A3492, #EF4423);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}
.aa{
  background-image: linear-gradient(to left, #2A3492, #EF4423);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}
a{
  background-image: linear-gradient(to left, #2A3492, #EF4423);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}
a:hover{
  color: #B20600;
}
